{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block link %} <a href="/create" class="navbar-brand"><i class="fas fa-feather"></i></a>
{% endblock %}
{% block content %}

    <div class="jumbotron container">
        <h1 class="display-4">Hello there!</h1>
        <p class="lead">What do you want to write today?</p>
    </div>
    {% for post in posts %}
    <div class="jumbotron container">
        <h2 class="display-5">{{ post['title'] }}</h2>
        <p class="lead">{{ post['body'][:30] }}...</p>
        <hr class="my-4">
        <p>{{ post['timestamp'] }}</p>
    </div>
    {% endfor %}
{% endblock %}